# Node
node_modules/

# Build
/dist

# Env
.env

# IDE
.vscode/
.DS_Store
*.log

# Others
pnpm-lock.yaml

# Output
*.local
*.cache

# System
Thumbs.db

# Optional: ignore supabase keys backup
supabase/.temp/
